*{
  box-sizing: border-box;
}
.image {
  width: 500px;
  height: 500px;
}
.image img {
  width: 20%;
  height:  20%;
  object-fit: contain;
  transform: translate(-10%, -30%)
 

 
}
ul{
  list-style: none;
  display: flex;
}
.menu li a{
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color:blueviolet;
  left:50% ;
  right: 50%;
  transform: translate(0%,-500%);
  justify-content: space-around;

}
.menu li a:hover {
  background-color: #23cdaf;
  color: white;
   box-shadow: 5px 10px 30px rgba(24,139,119,0.2);
   transition: all ease 0.2s;

        
}
.logo img {
  width: 50px;
  height: 50px;
  
}
.logo img {
  width: 15%;
  height:  15%;
  object-fit: contain;
  
  
  transform: translate(50%,-140%);
}
.text {
  left:50% ;
  right: 50%;
  transform: translate(0%,-250%);



}
.content h3{
   left:50% ;
  right: 50%;
  transform: translate(0%,-300%);
}
.bootcamp img {
  left:50% ;
  right: 50%;
  transform: translate(0%,-100%);

}
.follow h3{
  left:100% ;
  right: 100%;
  transform: translate(0%,-1000%);


}